header img {
    width: 250px;
}


.main__product-details--cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}
.product-details--card {
    margin: 16px;
    width: 320px;
}

.main__plans-container--slide {
    justify-content: center;
}